body {
    
	
}

h1 {

}

ul{
	font-size:9px;
	display:inline;
	list-style: none;
	text-align: center;
	margin: auto;
}

li {
	display:inline;
	text-align: center;
	margin: 0px 20px 0px 20px;
}

footer {
	max-width: 800px;
	text-align: center;
	clear:both;
	margin:auto;
}

a{

}

#content{
	width:relative;
	
}
#top {
	background-image: linear-gradient(0deg, #556f99, #6f8cba);
	height: 325px;

	
}

#frame{

	background-image: url(../images/frame.png);
	background-repeat: no-repeat;
	float:right;
	clear:both;
	z-index: 1;
	height: 280px;
	width: 503px;
	
	
	
	
	
}
#textz {
	/*display: inline;
	float:right;
	clear:both;*/
	width: 400px;
	z-index: 99;
	margin:auto ;
}

/*#textBox {
	display: block;
	margin-top: -100px;
	width:500px;
	height:400px;
	float: right;	
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	background-image: linear-gradient(0deg, rgba(255,255,255,0.0),rgba(255,255,255,1) 50%);
}*/


#login {
	display: inline-block;
	float: right;
	background: none;
	height:40px;
	margin-right: 10px;
	margin-top: 20px;
}
#phones {
	z-index:100;
	display: block;
	margin-top:-90px ;
    float: left;
}

#insta {
	
    float:right;
    margin-top: 100px;
    margin-right: 100px;
}

#bottom {
	background-color: white;
	height:500px;
	width: relative;
}